<h1>Realize sua transação</h1>

<div class="panel-body">

<%= form_for @movement do |f| %>

    <div class="form-group">
        <%= f.label :conta_raiz %>
        <%= f.text_field :conta_raiz, autofocus: true, class: 'form-control' %>
    </div> 

    <div class"form group">
        <%= f.label :movement_type %>
        <%= f.select :movement_type, ['Depósito', 'Saque', 'Transferência'], {}, class: 'form-control' %>
    </div></br>

    <div class="form-group">
        <%= f.label :conta_alvo %>
        <%= f.text_field :conta_alvo, autofocus: true, class: 'form-control' %>
    </div> 

    <div class="form-group">
        <%= f.label :amount %>
        <%= f.number_field :amount, autofocus: true, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>

<% end %>

</div>